%html
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}/
    %title= current_page.data.title || 'Bulutfon'
    = stylesheet_link_tag 'style',
                          '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
                          '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css',
                          '//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'
    = javascript_include_tag  'all', '//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'
    = favicon_tag 'favicon.png'
  %body{class: page_classes}
    %header
      %nav.navbar.navbar-default{role: "navigation"}
        .container
          .navbar-brand
            =link_to 'Bulutfon Geliştirici', '/#' , class: 'brand-block'
          .navbar-right
            .collapse.navbar-collapse
              %ul.nav.navbar-nav.navbar-right
                %li=link_to 'API', 'https://github.com/bulutfon/bulutfon-api' , target:'_blank'
                %li=link_to 'Topluluk','/community.html', target:'_blank'

    = yield
    %footer.footer
      .container
        %p
          © Copyright 2014 Bulutfon. Tüm hakları saklıdır.